@model AutoFleet.Dtos.CarDTO
@{
    ViewData["Title"] = "Edit";
}

<h4>Masina</h4>
<hr />
<form id="formId" asp-action="Edit">
    <input type="hidden" asp-for="CarId" />
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Numar inmatriculare</label>
                <input asp-for="CarRegistrationNumber" id="registrationNumberInput" name="CarRegistrationNumber" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">An fabricatie</label>
                <input asp-for="CarManufacturingYear" id="manufacturingYearInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Soferul</label>
                <select id="changeDriverDropdown" class="form-control" asp-for="DriverId" asp-items="@(new SelectList(Model.AvailableDrivers, "Id", "Text", Model.DriverId))"></select>
            </div>
        </div>
    </div>

    @{int i = 0;
        foreach (var insurance in Model.Insurances)
        {
        <div class="row">
            <input type="hidden" asp-for="@insurance.Id" name="@("Insurances[" + i + "].Id")" />
            <input type="hidden" asp-for="@insurance.TypeOfInsurance" name="@("Insurances[" + i + "].TypeOfInsurance")" />

            <div class="col-md-5 form-group">
                <label class="control-label">@(insurance.TypeOfInsurance + " a fost realizat(a) la: ")</label>
                <input asp-for="@insurance.LastRenewal" class="form-control" type="date" name="@("Insurances[" + i + "].LastRenewal")" />
            </div>

            <div class="col-md-6 form-group">
                <label class="control-label">Expira la</label>

                <div class="input-group mb-3">
                    <input asp-for="@insurance.ExpirationDate" class="form-control" type="date" readonly />
                    <div class="input-group-append pl-4">
                        <button class="btn btn-danger" type="button">Sterge</button>
                    </div>
                </div>
            </div>
        </div>
                i++;

            } }

    <div class="form-group">
        <input type="submit" value="Salveaza" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
}
