@model IEnumerable<AutoFleet.Models.Car>

@{
    ViewData["Title"] = "Masini";
}

<p>
    <a asp-action="Create">Adauga o masina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturingYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
