@model IEnumerable<AutoFleet.Models.Driver>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Adauga un nou sofer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
